html{
    scroll-behavior:smooth;
}

.column {
    width: 45%;
    padding-bottom: 10px;
    background-color: #EDF2F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin: auto;
}

.insertShipmentPolicy {
    float: right;
    background-color: #EDF2F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 45%;
    height: 100%;
    padding: 15px;
    margin: 15px
}

.shipmentPolicies {
    position: relative;
}

.bodyContainer {
    position: relative;
    bottom: auto;
    right: 0;
    left: 0;
    overflow: hidden;
    display: block;
}

.searchBar {
    float: right;
    width:20%;
    height:40px;
    font-size:inherit;
    border-radius: 6px;
    margin:-55px 20px;
    border: 1px solid #ccc;
}

.insertProduct {
    float: left;
    width: 40%;
    height: 100%;
    padding: 15px 15px;
    background-color: #EDF2F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: left;
    margin: 15px;
}

.inputInsertProd {
    height: 20px;
    width: 75%;
}

.inputInsertProdDescr {
    height: 70px;
    width: 75%
}

.signupForm {
    float: left;
    width: 30%;
    height: 100%;
    padding-bottom: 10px;
    background-color: #EDF2F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center;
}

.error {
    color: red;
}

.details_button{
    float: right;
    cursor: pointer;
}


#navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

#mainBody {
    padding-top: 70px;
}

.navigation-bar {
    background-color: #EDF2F5;
    height: 70px;
    width: 99%;
    text-align:left;
    border-radius: 20px;
    position: fixed;
}
.navigation-bar img{
    float:left;
    align-items: center;
}
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: table-cell;
}

.navigation-bar li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    line-height: 70px;
    padding: 24px 15px;
    height: 100%;
    width: 100%;
    margin: 0;
}

a:hover {
    background-color: darkgray;
}

.active {
    background-color: lightseagreen;
}

#menu {
    float: right;
}
.logo {
    height: 70px;
    background: transparent;
}
.titleIndex {
    text-align: center;
}
body {
    background-color: #2D86A1;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: block;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

#bin {
    font-size: 30px;
}

#bin:hover {
    color: red;
    cursor: pointer;
}

th, td {
    text-align: center;
    padding: 8px;
    width: 100px;
}

tr:nth-child(even){background-color: #f2f2f2}

tbody tr:nth-child(odd) {
    background-color: #ccc;
}

th {
    background-color: #555;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

footer {
    position: relative;
}

.formLogin {
    text-align: center;
}

#loginButton {
    background-color: white;
    border: 2px solid midnightblue;
    color: midnightblue;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#loginButton:hover {
    color: white;
    background-color: midnightblue;
}

.details_button_search {
    background-color: white;
    border: 2px solid dimgrey;
    color: dimgrey;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.details_button_search:hover {
    color: white;
    background-color: dimgrey;
}

#submitQuantityButton, #orderButton {
    background-color: white;
    border: 2px solid dimgrey;
    color: dimgrey;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#submitQuantityButton:hover {
    color: white;
    background-color: dimgrey;
}

#orderButton:hover {
    color: #FFFF33;
    background-color: dimgrey;
}

.saleMessage {
    color: darkred;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.viewedMessage {
    color: darkgoldenrod;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

a, a:visited {
    color: dodgerblue;
}

a:hover {
    color: midnightblue;
    background-color: powderblue;
    text-decoration: underline;
}

.positiveMessagge {
    color: darkgreen;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.login_body {
    position: relative;
    overflow: hidden;
}

input[type=text], input[type=password] {
    border: none;
    border-bottom: 2px solid midnightblue;
    width: 70%;
    -webkit-transition: 0.5s;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    border: none;
    border-bottom: 5px solid lawngreen;
    -webkit-transition: 0.3s;
    outline: none;
}

#submitQuantity {
    border: none;
    width: 90%;
    -webkit-transition: 0.5s;
    padding: 6px 6px;
    margin: 2px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
    font-size: 16px;
}

#submitQuantity:focus {
    border: none;
    border-bottom: 4px solid lawngreen;
    -webkit-transition: 0.3s;
    outline: none;
}

.collapsible {
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    scroll-margin-top: 4em;
}

.collapsible:hover {
    background-color: white;
    color: midnightblue;
}

.active:after {
    content: '\2212';
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.contentCollapsible {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(232, 236, 241, 0.5);
}

#searchedProducts {
    display: none;
    scroll-margin-top: 7em;
}

hr {
    border: 3px solid midnightblue;
    width: 80%;
}

#tableShipmentPolicies {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#detailsPopupContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#closePopup {
    margin-right: 2%;
    margin-top: 2%;
}

#closePopup:hover {
    cursor: pointer;
    color: red;
}

#detailsPopup {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#imgPopup {
    margin: 3%;
}